div[data-box] { }
div[data-obj] { cursor:pointer; }

div[data-box][data-theme=default] { background:#cccccc; border:0px solid black; min-width:100px; min-height:50px; }
div[data-obj][data-theme=default] { background:#aaaaaa; border:0px solid black; min-width:30px; min-height:30px; }

div[data-box][data-theme=test-1] { background:#cccccc; border:1px solid black; min-width:100px; min-height:50px; }
div[data-obj][data-theme=test-1] { background:#aaaaaa; border:1px solid black; min-width:30px; min-height:30px; }

