div[data-box] { }
div[data-obj] { cursor:pointer; }
/*div[data-box] > div[data-obj] { vertical-align:top; }*/

div[data-box][data-theme=default] { display:block; background:#cccccc; border:0px solid black; width:200px; min-height:50px; vertical-align:top; }
div[data-obj][data-theme=default] { display:inline-block; background:#aaaaaa; border:0px solid black; min-width:30px; min-height:30px; vertical-align:top; }

div[data-box][data-theme=test-1] { display:block; background:#cccccc; border:1px solid black; width:200px; min-height:50px; vertical-align:top; }
div[data-obj][data-theme=test-1] { display:inline-block; background:#aaaaaa; border:1px solid black; min-width:30px; min-height:30px; vertical-align:top; }

div[data-box][data-theme=test-2] { display:block; background:#FFFFFF; border:2px solid #9d9d9d; border-radius:10px; width:200px; min-height:50px; vertical-align:top; }
div[data-obj][data-theme=test-2] { display:inline-block; background:#FFFFFF; border:2px solid #333333; border-radius:10px; min-width:30px; min-height:30px; vertical-align:top; }


